.content {
  width: 100%;
}
.text-center {
  text-align: center;
}

/* 
.chart div {
    font: 8px sans-serif;
    background-color: #424242;
    text-align: right;
    padding: 1px;
    margin: 1px;
    color: #ffcc00;
  } */
  
.chart.memory {
  width: 100%;
  height: 220px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.chart.memory .col-wrapper {
  align-self: flex-end;
}
.chart.memory .col-wrapper div {

    font: 10px sans-serif;
    background-color: #424242;
    text-align: right;
    padding: 2px;
    margin: 1px;
    color: #ffcc00;
}